<launch>

  <!-- database connection parameters -->
  <rosparam command="load" file="$(find household_objects_database)/config/wgs36.yaml"/>
  <!-- start the database wrapper node -->
  <node pkg="household_objects_database" name="objects_database_node" type="objects_database_node" 
  	respawn="true" output="screen"/>

</launch>